<div class="rl-mainpanel">
    <div class="rl-pagebody">
      <div class="row row-sm">
        <div class="col-lg-12">
          <!-- inicio cards -->
          <div class="card-columns">
            
            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Chain Store Age</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 22, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">Billabong taps NetSuite to power omnichannel strategy</p>
              </div>
              <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap">
              <blockquote class="card-block card-blockquote">
                <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div><!-- card1 -->

            <div class="card">
              <header class="header-card pd-t-5 pd-b-5">
                <div class="row">
                  <div class="col-md-12 text-center tx-gray">
                    <img src="assets/images/eye-icon.png" class="icon-card mg-t-5">
                    <span class="likes-card">Watched</span>
                  </div>
                </div>
              </header>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Chain Store Age</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 22, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">Journelle, Alton Lane streamline process with NetSuite platform</p>
              </div>
              <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap">
              <blockquote class="card-block card-blockquote">
                <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div> <!-- card2 -->


            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Business Wire</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 18, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">New Study Shows One Critical Industry Lagging Behind in Software Security</p>
              </div>
              <blockquote class="card-block card-blockquote">
                <p>Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div> <!-- card3 -->


            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Internet Retailer</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 14, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">NetSuite rolls out a new e-procurement system for B2B companies</p>
              </div>
              <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap">
              <blockquote class="card-block card-blockquote">
                <p>Katherine BoccaccioNetSuite Inc. announced that two fashion and apparel retailers — Journelle, a seller of high-end lingerie and loungewear, and Alton Lane, a maker of men’s custom-tailored...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div> <!-- card4 -->

            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Business Wire</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 13, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">AlphaGo and the Declining Advantage of Big Companies</p>
              </div>
              <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap">
              <blockquote class="card-block card-blockquote">
                <p>Panelists at CII's spring conference discuss governance implications of shift in US firms’ approach to capital allocation
                When it comes to uses of cash, investors are slightly schizophrenic about...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div> <!-- card5 -->

            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="card-title tx-primary">Internet Wire</h6>
                  </div>
                  <div class="col-md-6 text-right">
                    <h6 class="card-title tx-11-force tx-gray">Feb 13, 2016 </h6>
                  </div>
                </div>
                <p class="card-text bold">AlphaGo and the Declining Advantage of Big Companies</p>
              </div>
              <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap">
              <blockquote class="card-block card-blockquote">
                <p>Panelists at CII's spring conference discuss governance implications of shift in US firms’ approach to capital allocation
                When it comes to uses of cash, investors are slightly schizophrenic about...</p>
              </blockquote>
              <footer class="footer-card pd-b-10">
                <div class="row">
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/briefcase-icon.png" class="icon-card mg-t-5">
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/like-icon.png" class="icon-card mg-t-5"> <span class="likes-card">132</span>
                  </div>
                  <div class="col-md-4 text-center tx-gray">
                    <img src="assets/images/arrow-right-icon.png" class="icon-card mg-t-5">
                  </div>
                </div>
              </footer>
            </div> <!-- card6 -->


          </div><!-- fin card -->
        </div><!-- col-12 -->
        </div><!-- row -->
    </div><!-- rl-pagebody -->
</div><!-- rl-mainpanel -->