div.navegacion{
    margin-top: 50px;
}

div.navegacion div.bara-izquierda{
    width: 279px;
    height: 740px;
    background-color: #2f323a;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    position: fixed;
}

input{
    width: 100%;
    background: transparent;
    font-size: 16px;
    text-align: left;
    color: #575a5f;
    border: 0px;
    border-bottom: 2px solid #373b42;
}

ul{
    padding: 0px;
    padding-top: 20px;
}

ul li{
    height: 50px;
}

ul li a{
    color: #fff;
    cursor: pointer;
}

ul li a:hover{
    text-decoration: none;
}

ul li a > img{
    margin-right: 10px;
}

li.nav-close{
    margin-top: 100px;
}

div.cuerpo{
    display: inline-block;
    width: 100%;
    margin-left: 200px;
    margin-top: 20px;
}