<div class="">
    <div class="row navegacion">
      <div class="bara-izquierda">
          <input type="text" placeholder="NAVIGATE">
          <ul class="navegacion">
            <li>
              <a>
                <img src="./assets/images/analitycs.png" >
                Analitycs
              </a>                  
            </li>
            <li>
              <a>
                <img src="./assets/images/newspaper-o.png" >
                News
              </a>                  
            </li>
            <li>
              <a>
                <img src="./assets/images/board-brief.png" >
                Board Brief
              </a>
            </li>
            <li>
              <a>
                <img src="./assets/images/briefcase.png" >
                Briefcase
              </a>
            </li>

            <li class="nav-close">
              <a>
                <img src="./assets/images/angle-double-left.png" >
                Close menu
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>